* {    
    margin: 0 ;
    padding: 0 ;
}

/* .Bg {
    background-image: url("/cityBg.jpg");

} */

.AboutMe {
    animation: glowImg 1.5s ease-in-out 0.2s 1; 
    margin: 6rem 2rem 3rem 2rem;
    font-size: 4rem;
    text-align: center;
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: rgba(255, 255, 255, 0.8);
}

@keyframes glowImg {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translate(100%);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translate(0);
    }
}

/* .AboutMe img {
    animation: glowImg 1.5s ease-in-out 0.2s 1; 
    width: 400px;
    height: 80vh;
}

.AboutMe img:hover {
    scale: 1.1;
} */

.AboutMe:hover {
    text-shadow: 0 0 1px black;
}


