.NavbarOptions{
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.5rem;
    padding : 0.5rem;
    text-decoration: none;
    color: white;
}

.NavbarOptions:hover {
    opacity: 1;
    text-shadow: 1px 1px 3px white;
}

.NavbarOptions.Aniket {
    margin-right: auto;
    font-size: 2rem; 
}
