* {
    margin: 0;
    padding: 0;
}

.Navbar {
    width: 100%;
    border: 2px solid white;
    background-color:#cdc3c1;
    color: black;
    border-radius: 1.5rem;
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}