.Socials {
    height: fit-content;
    margin: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

/* .SocialName, .SocialIcon {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
} */

/* .SocialName a {
    text-decoration: none;
}

.SocialIcon a {
    text-decoration: none;
} */